<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/authors/search}" method="get">
        <input type="text" th:name="query">
        <input type="checkbox" name="isExact">
        <input type="submit" th:value="get">
    </form>
    <table>
        <thead>
            <tr>
                <th> FirstName </th>
                <th> MiddleName </th>
                <th> LastName </th>
                <th> Country </th>
                <th> BornYear </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${authors}">
                <td th:text="${item.firstName}"></td>
                <td th:text="${item.middleName}"></td>
                <td th:text="${item.lastName}"></td>
                <td th:text="${item.country}"></td>
                <td th:text="${item.bornYear}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>