<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="container">
        <form th:action="@{/authors/create}" method="post" th:object="${author}">
            <input type="hidden" th:field="*{id}">

            <label for="fname">FirstName</label><br>
            <input id="fname" type="text" th:field="*{firstName}" required th:required="'Необходимо заполнить поле'"><br>
            <br>

            <label for="mname">MiddleName</label><br>
            <input id="mname" type="text" th:field="*{middleName}"><br>
            <br>

            <label for="lname">LastName</label><br>
            <input id="lname" type="text" th:field="*{lastName}" required th:required="'Необходимо заполнить поле'"><br>
            <br>

            <label for="country">Country</label><br>
            <input id="country" type="text" th:field="*{country}" required th:required="'Необходимо заполнить поле'"><br>
            <br>

            <label for="year">BornYear</label><br>
            <input
                    id="year"
                    type="number"
                    required
                    min="1900"
                    max="2022"
                    th:field="*{bornYear}"
                    th:min="1900"
                    th:max="2022"
            ><br>
            <br>

            <input type="submit" class="btn">
        </form>
    </div>
</body>
</html>