<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="container">
        <form th:action="@{/books/create}" method="post" th:object="${book}">
            <input type="hidden" th:field="*{id}">

            <label for="title">Title</label><br>
            <input id="title" type="text" th:field="*{title}" th:required="'Необходимо заполнить поле'"><br>
            <br>

            <label for="desc">Description</label><br>
            <input id="desc" type="text" th:field="*{description}"><br>
            <br>

            <label for="year">Year</label><br>
            <input id="year" type="number" th:field="*{year}" required min="1900" max="2022" th:min="1900" th:max="2022"><br>
            <br>

            <label for="cost">Cost</label><br>
            <input id="cost" type="text" th:field="*{cost}" min="0" required th:min="0" placeholder="100"><br>
            <br>

            <label for="author">Author</label>
            <select id="author" class="browser-default" th:field="*{author.id}" th:required="'Необходимо выбрать автора'">
                <option th:each="item : ${authors}" th:value="${item.id}" th:text="${item.firstName}"></option>
            </select>
            <br>

            <input type="submit" class="btn">
        </form>
    </div>
</body>
</html>